<footer class="footer" >
    <div class="container-fluid">
      <p class="text-muted">LEGO® is a trademark of The LEGO Group of companies which does not sponsor, authorize or endorse this site. It's awesome though!</p>
      <p class="text-muted">© Bricks2Share. All rights reserved.</p>
      <p class="text-muted">Page was generated in 0.065 seconds on
       <%= new Date()%></p>
    </div>
  </footer>


   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/initdata.js"></script>
</body>
</html>