<% include header %>
<div class="container-fluid wrap">
    <div class="row">
        <div class="col-md-12">
          <h2>Sets Owned</h2>
        </div>
    </div>

    <div class="row page_navi">
      <div class="col-md-6">
        <div class="numpages">
          100 results found, showing page 1-5
        </div>
      </div>  
      <div class="col-md-6">
        <ul class="pagination page_list">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>

    <div class="row mysets">
      <a href="#">
        <div class="row mysets_results">
          <div class="col-md-3 mysets_img" >
            <div class="mysets_search_show">
              <img src="#" class="sin_search_img img-circle"  width="200" height="165" >
            </div>
          </div>
           <div class="col-md-6 mysets_text" > 
              <div class="mysets_search_content">
                <h2>10248: Ferrari F40</h2> 
                <br>
                <h3>ADVANCED MODELS 2015</h3>
              </div>        
            </div> 
           <div class="col-md-3 mysets_other">
              <div class="single_details single_collection">
                  <h3>Collection</h3>
                  <div class="single_collection_data">
                    <p> >>>100 people own this set</p>
                    <p> >>>50  want this set</p> 
                  </div>
                  <div class="single_btn">
                    <button type="button" class="btn active">Own to share</button>
                    <button type="button" class="btn active">Want this set</button>
                  </div>
               </div>
           </div>      
        </div>
     </a>
    </div>



</div>
<% include footer %>